{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <form action="{{ url_for('create_route') }}" method="POST" class="border-bottom-0 rounded-lg bg-white p-5 mt-5">
                    {{ form.hidden_tag() }}
                    <h2>Create Chilli Variant</h2>
                    <div class="form-group">
                        {{ form.name.label(class='form-control') }}
                        {{ form.name(class='form-control') }}
                    </div>
                    <div class="form-group">
                        {{ form.scoville.label(class='form-control') }}
                        {{ form.scoville(class='form-control') }}
                    </div>
                    <div class="form-group">
                        {{ form.days_to_germinate.label(class='form-control') }}
                        {{ form.days_to_germinate(class='form-control') }}
                    </div>
                    <div class="form-group">
                        {{ form.create(class='btn btn-success') }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}